<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  
    <Properties>
        <!--Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property-->
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Property>
        <Property name="APP_LOG_ROOT">./logs</Property>
        <Property name="APP_LOG_NAME">appgate-calc</Property>
    </Properties>
  
    <Appenders>
  
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
          
        <RollingFile name="applicationLog" fileName="${sys:APP_LOG_ROOT}/${sys:APP_LOG_NAME}-${date:yyyy-MM-dd}.log"
            filePattern="${sys:APP_LOG_ROOT}/${sys:APP_LOG_NAME}-${date:yyyy-MM-dd}log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
  
    <Loggers>     
        <Root level="INFO">
            <AppenderRef ref="applicationLog" />
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
  
</Configuration>